<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Abeja</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300|Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

  </head>
  <body>
    <!--header-->
    <header class="main-header" id="header">
        <div class="bg-color">
            <!--nav-->
            <nav class="nav navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                            <span class="fa fa-bars"></span>
                        </button>
                            <%# Use this in layout for other pages within angular?! %>
                            <%# <a href="index.html" class="navbar-brand">ABEJA</a>%>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="mynavbar">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#header">Home</a></li>
                                <li><a href="#feature">Feature</a></li>
                                <li><a href="#LogInRegister">Log In</a></li>
                                <li><a href="#LogInRegister">Register</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!--/ nav-->
            <div class="container text-center">
                <div class="wrapper wow fadeInUp delay-05s" >
                    <h2 class="top-title">Organic Farming and Pollination</h2>
                    <h3 class="title">ABEJA</h3>
                    <h4 class="sub-title">Saving humanity a bee at a time</h4>
                    <button type="submit" class="btn btn-submit">
                      <a href="#LogInRegister" style="color: black">Login</a>
                    </button>
                    <button type="submit" class="btn btn-submit">
                      <a href="#LogInRegister" style="color: black">Register</a>
                    </button>
                </div>
            </div>
        </div>
    </header>
    <!--/ header-->
    <!---->
    <section id="cta-1">
        <div class="container">
            <div class="row">
                <div class="cta-info text-center">
                    <h3>"Einstein, calculated that if all bees disappeared off the earth,</h3>
                    <h3>four years later all humans would also have disappeared."</h3>
                    <h4>- Abeilles et fleurs, June, 1965 -</h4>

                </div>
            </div>
        </div>
    </section>
    <!---->
    <!---->
    <section id="feature" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-3 wow fadeInLeft delay-05s">
                    <%# <div class="section-title">
                        <h2 class="head-title">Features</h2>
                        <hr class="botm-line">
                        <p class="sec-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                    </div>%>
                </div>

                <%# <div class="col-md-12">
                    <div class="col-md-6 wow fadeInRight delay-02s">
                        <div class="icon">
                            <i class="fa fa-paint-brush"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">Easy to Learn and Design</h3>
                            <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-02s">
                        <div class="icon">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">Bootstrap 3.3.2</h3>
                            <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-04s">
                        <div class="icon">
                            <i class="fa fa-mobile"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">Responsive Design</h3>
                            <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-04s">
                        <div class="icon">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">No Coding, No Shortcodes</h3>
                            <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-06s">
                        <div class="icon">
                            <i class="fa fa-lightbulb-o"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">High Coversion</h3>
                            <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight delay-06s">
                        <div class="icon">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="icon-text">
                            <h3 class="txt-tl">Save Tons of Time</h3>
                            <p class="txt-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula felis euismod semper. </p>
                        </div>
                    </div>
                </div>%>
            </div>
        </div>
    </section>

    <section class="section-padding wow fadeInUp delay-05s" id="LogInRegister">
        <div class="container">
            <div class="row white">
                <%# <div class="col-md-8 col-sm-12">
                    <div class="section-title">
                        <h2 class="head-title black">LogInRegister Us</h2>
                        <hr class="botm-line">
                        <p class="sec-para black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..</p>
                    </div>
                </div>%>
                <div class="col-md-12 col-sm-12">
                  <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                      <h3 class="cont-title">Log In</h3>
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="LogInRegister-info">
                          <form action="/login" method="post" role="form" class="LogInRegisterForm">
                              <div class="form-group">
                                  <input type="username" class="form-control" name="username" id="email" placeholder="username"
                                  data-rule="username" data-msg="Please enter a valid username" />
                                  <div class="validation"></div>
                              </div>
                              <div class="form-group">
                                  <input type="password" class="form-control" name="password" id="subject" placeholder="Password"
                                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                  <div class="validation"></div>
                              </div>
                              <button type="submit" class="btn btn-send">Send</button>
                          </form>
                      </div>
                  </div>

                    <div class="col-md-4 col-sm-6" style="padding-left:0px;">
                        <h3 class="cont-title">Register</h3>
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <div class="LogInRegister-info">
                            <form action="/register" method="post" role="form" class="LogInRegisterForm">

          <div class="btn-group" data-toggle="buttons">
        
            <label class="btn btn-primary">
              <input type="checkbox" autocomplete="off"> Checkbox 2
            </label>
            <label class="btn btn-primary">
              <input type="checkbox" autocomplete="off"> Checkbox 3
            </label>
          </div>

                                <div class="form-group">
                                    <input type="text" name="username" class="form-control" id="username" placeholder="Your Name"
                                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validation"></div>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" name="password" id="subject" placeholder="Password"
                                    data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                    <div class="validation"></div>
                                </div>
                                <button type="submit" class="btn btn-send">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <!---->
    <footer class="" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 footer-copyright">
                    © Green Mug - All rights reserved
                    <div class="credits">

                        Designed by JPizzle
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!---->
    <!--LogInRegister ends-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>
